USE [master]
GO
/****** Object:  Database [AclcStudentGearHub]    Script Date: 4/8/2026 10:39:35 PM ******/
CREATE DATABASE [AclcStudentGearHub]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AclcStudentGearHub', FILENAME = N'C:\Users\Lezer\AclcStudentGearHub.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AclcStudentGearHub_log', FILENAME = N'C:\Users\Lezer\AclcStudentGearHub_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AclcStudentGearHub].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AclcStudentGearHub]
GO

-- =============================================
-- TABLE: Products
-- =============================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL DEFAULT(0),
	[Description] [nvarchar](255) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL DEFAULT(GETDATE()),
PRIMARY KEY CLUSTERED ([Id] ASC)
) ON [PRIMARY]
GO

-- =============================================
-- TABLE: Users
-- =============================================
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime] NULL DEFAULT(GETDATE()),
	[Role] [nvarchar](50) NULL DEFAULT('Student'),
PRIMARY KEY CLUSTERED ([Id] ASC)
) ON [PRIMARY]
GO

-- =============================================
-- TABLE: Transactions
-- =============================================
CREATE TABLE [dbo].[Transactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](50) NULL DEFAULT('Pending'),
	[TransactionDate] [datetime] NULL DEFAULT(GETDATE()),
PRIMARY KEY CLUSTERED ([Id] ASC)
) ON [PRIMARY]
GO

-- =============================================
-- TABLE: Cart
-- Stores items added to cart by students.
-- Uses ProductId referencing Products table.
-- =============================================
CREATE TABLE [dbo].[Cart](
	[CartItemId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [nvarchar](50) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL DEFAULT(1),
	[AddedAt] [datetime] NULL DEFAULT(GETDATE()),
PRIMARY KEY CLUSTERED ([CartItemId] ASC)
) ON [PRIMARY]
GO

-- =============================================
-- TABLE: Orders
-- Stores checkout orders placed by students.
-- =============================================
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [nvarchar](50) NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL DEFAULT(0),
	[PaymentMethod] [nvarchar](50) NULL DEFAULT('Cash'),
	[Notes] [nvarchar](500) NULL,
	[Status] [nvarchar](50) NULL DEFAULT('Pending'),
	[OrderDate] [datetime] NULL DEFAULT(GETDATE()),
PRIMARY KEY CLUSTERED ([OrderId] ASC)
) ON [PRIMARY]
GO

-- =============================================
-- TABLE: OrderItems
-- Stores individual items within each order.
-- =============================================
CREATE TABLE [dbo].[OrderItems](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED ([OrderItemId] ASC)
) ON [PRIMARY]
GO

-- =============================================
-- FOREIGN KEYS
-- =============================================
ALTER TABLE [dbo].[Transactions]
    ADD CONSTRAINT FK_Transactions_Products FOREIGN KEY([ProductId]) REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Transactions]
    ADD CONSTRAINT FK_Transactions_Users FOREIGN KEY([StudentId]) REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Cart]
    ADD CONSTRAINT FK_Cart_Products FOREIGN KEY([ProductId]) REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderItems]
    ADD CONSTRAINT FK_OrderItems_Orders FOREIGN KEY([OrderId]) REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderItems]
    ADD CONSTRAINT FK_OrderItems_Products FOREIGN KEY([ProductId]) REFERENCES [dbo].[Products] ([Id])
GO

-- =============================================
-- SEED DATA: Products
-- =============================================
SET IDENTITY_INSERT [dbo].[Products] ON 
INSERT [dbo].[Products] ([Id], [Name], [Category], [Price], [Stock], [Description], [CreatedAt]) VALUES (1, N'School Uniform', N'Uniform', CAST(350.00 AS Decimal(10, 2)), 100, N'Official ACLC school uniform', CAST(N'2026-03-18T09:54:02.350' AS DateTime))
INSERT [dbo].[Products] ([Id], [Name], [Category], [Price], [Stock], [Description], [CreatedAt]) VALUES (2, N'PE Attire', N'Uniform', CAST(250.00 AS Decimal(10, 2)), 80, N'Physical Education uniform', CAST(N'2026-03-18T09:54:02.350' AS DateTime))
INSERT [dbo].[Products] ([Id], [Name], [Category], [Price], [Stock], [Description], [CreatedAt]) VALUES (3, N'ID Lace with Holder', N'Accessory', CAST(50.00 AS Decimal(10, 2)), 200, N'Official ACLC ID lace with holder', CAST(N'2026-03-18T09:54:02.350' AS DateTime))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO

-- =============================================
-- SEED DATA: Users
-- =============================================
SET IDENTITY_INSERT [dbo].[Users] ON 
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [Email], [FullName], [CreatedAt], [Role]) VALUES (1, N'Allene', N'96cae35ce8a9b0244178bf28e4966c2ce1b8385723a96a6b838858cdd6ca0a1e', N'Allene@gmail.com', N'AlleneCoyoca', CAST(N'2026-03-18T10:08:12.113' AS DateTime), N'Student')
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [Email], [FullName], [CreatedAt], [Role]) VALUES (2, N'Paul', N'701fd6f18a46f7c72397c91b9cb1a6353744b9cca3aa329af5e5e1124b6b8c5a', N'paul@gmail.com', N'JohnPaul', CAST(N'2026-03-23T19:08:04.897' AS DateTime), N'Student')
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [Email], [FullName], [CreatedAt], [Role]) VALUES (3, N'pol', N'96cae35ce8a9b0244178bf28e4966c2ce1b8385723a96a6b838858cdd6ca0a1e', N'pol@gmail.com', N'polpol', CAST(N'2026-03-25T20:10:21.253' AS DateTime), N'Student')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO

-- =============================================
-- STORED PROCEDURES
-- =============================================

-- SP: LOGIN USER
CREATE PROCEDURE [dbo].[sp_LoginUser]
    @Username NVARCHAR(50),
    @PasswordHash NVARCHAR(255)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Users WHERE Username = @Username AND PasswordHash = @PasswordHash)
    BEGIN
        SELECT 1 AS Success, 'Login successful.' AS Message,
               Id, Username, Email, FullName, Role
        FROM Users
        WHERE Username = @Username AND PasswordHash = @PasswordHash
    END
    ELSE
    BEGIN
        SELECT 0 AS Success, 'Invalid username or password.' AS Message,
               NULL AS Id, NULL AS Username, NULL AS Email, NULL AS FullName, NULL AS Role
    END
END
GO

-- SP: REGISTER USER
CREATE PROCEDURE [dbo].[sp_RegisterUser]
    @Username NVARCHAR(50),
    @PasswordHash NVARCHAR(255),
    @Email NVARCHAR(100),
    @FullName NVARCHAR(100)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Users WHERE Username = @Username)
    BEGIN
        SELECT 0 AS Success, 'Username already exists.' AS Message
        RETURN
    END
    INSERT INTO Users (Username, PasswordHash, Email, FullName, CreatedAt)
    VALUES (@Username, @PasswordHash, @Email, @FullName, GETDATE())
    SELECT 1 AS Success, 'User registered successfully.' AS Message
END
GO

-- SP: GET ALL PRODUCTS
CREATE PROCEDURE [dbo].[sp_GetAllProducts]
AS
BEGIN
    SELECT Id, Name, Category, Price, Stock, Description, ImageUrl, CreatedAt FROM Products
END
GO

-- SP: GET PRODUCT BY ID
CREATE PROCEDURE [dbo].[sp_GetProductById]
    @Id INT
AS
BEGIN
    SELECT Id, Name, Category, Price, Stock, Description, ImageUrl, CreatedAt FROM Products WHERE Id = @Id
END
GO

-- SP: INSERT PRODUCT
CREATE PROCEDURE [dbo].[sp_InsertProduct]
    @Name NVARCHAR(100),
    @Category NVARCHAR(50),
    @Price DECIMAL(10,2),
    @Stock INT,
    @Description NVARCHAR(255)
AS
BEGIN
    INSERT INTO Products (Name, Category, Price, Stock, Description)
    VALUES (@Name, @Category, @Price, @Stock, @Description)
    SELECT 1 AS Success, 'Product inserted successfully.' AS Message
END
GO

-- SP: UPDATE PRODUCT
CREATE PROCEDURE [dbo].[sp_UpdateProduct]
    @Id INT,
    @Name NVARCHAR(100),
    @Category NVARCHAR(50),
    @Price DECIMAL(10,2),
    @Stock INT,
    @Description NVARCHAR(255)
AS
BEGIN
    UPDATE Products
    SET Name = @Name, Category = @Category,
        Price = @Price, Stock = @Stock, Description = @Description
    WHERE Id = @Id
    SELECT 1 AS Success, 'Product updated successfully.' AS Message
END
GO

-- SP: DELETE PRODUCT
CREATE PROCEDURE [dbo].[sp_DeleteProduct]
    @Id INT
AS
BEGIN
    DELETE FROM Products WHERE Id = @Id
    SELECT 1 AS Success, 'Product deleted successfully.' AS Message
END
GO

-- SP: PURCHASE (TRANSACTION)
CREATE PROCEDURE [dbo].[sp_PurchaseProduct]
    @StudentId INT,
    @ProductId INT,
    @Quantity INT,
    @TotalAmount DECIMAL(10,2)
AS
BEGIN
    DECLARE @Stock INT
    SELECT @Stock = Stock FROM Products WHERE Id = @ProductId

    IF @Stock IS NULL OR @Stock < @Quantity
    BEGIN
        SELECT 0 AS Success, 'Insufficient stock.' AS Message
        RETURN
    END

    INSERT INTO Transactions (StudentId, ProductId, Quantity, TotalAmount, Status, TransactionDate)
    VALUES (@StudentId, @ProductId, @Quantity, @TotalAmount, 'Pending', GETDATE())

    UPDATE Products SET Stock = Stock - @Quantity WHERE Id = @ProductId

    SELECT 1 AS Success, 'Purchase successful.' AS Message
END
GO

-- SP: GET ALL TRANSACTIONS
CREATE PROCEDURE [dbo].[sp_GetAllTransactions]
AS
BEGIN
    SELECT t.Id, t.StudentId, u.Username, t.ProductId, p.Name AS ProductName,
           t.Quantity, t.TotalAmount, t.Status, t.TransactionDate
    FROM Transactions t
    INNER JOIN Products p ON t.ProductId = p.Id
    INNER JOIN Users u ON t.StudentId = u.Id
    ORDER BY t.TransactionDate DESC
END
GO

-- SP: GET TRANSACTION BY ID
CREATE PROCEDURE [dbo].[sp_GetTransactionById]
    @Id INT
AS
BEGIN
    SELECT t.Id, t.StudentId, u.Username, t.ProductId, p.Name AS ProductName,
           t.Quantity, t.TotalAmount, t.Status, t.TransactionDate
    FROM Transactions t
    INNER JOIN Products p ON t.ProductId = p.Id
    INNER JOIN Users u ON t.StudentId = u.Id
    WHERE t.Id = @Id
END
GO

-- SP: DELETE TRANSACTION
CREATE PROCEDURE [dbo].[sp_DeleteTransaction]
    @Id INT
AS
BEGIN
    DELETE FROM Transactions WHERE Id = @Id
    SELECT 1 AS Success, 'Transaction deleted successfully.' AS Message
END
GO

-- SP: RETURN TRANSACTION
CREATE PROCEDURE [dbo].[sp_ReturnTransaction]
    @TransactionId INT
AS
BEGIN
    UPDATE Transactions SET Status = 'Returned' WHERE Id = @TransactionId
    SELECT 1 AS Success, 'Item returned successfully.' AS Message
END
GO

-- SP: ADD TO CART
CREATE PROCEDURE [dbo].[sp_AddToCart]
    @StudentId NVARCHAR(50),
    @ProductId INT,
    @Quantity INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Cart WHERE StudentId = @StudentId AND ProductId = @ProductId)
    BEGIN
        UPDATE Cart SET Quantity = Quantity + @Quantity
        WHERE StudentId = @StudentId AND ProductId = @ProductId
        SELECT 1 AS Success, 'Cart quantity updated.' AS Message
    END
    ELSE
    BEGIN
        INSERT INTO Cart (StudentId, ProductId, Quantity)
        VALUES (@StudentId, @ProductId, @Quantity)
        SELECT 1 AS Success, 'Item added to cart.' AS Message
    END
END
GO

-- SP: GET CART BY STUDENT
CREATE PROCEDURE [dbo].[sp_GetCartByStudent]
    @StudentId NVARCHAR(50)
AS
BEGIN
    SELECT c.CartItemId, c.StudentId, c.ProductId, p.Name AS ProductName,
           p.Category, p.Price, p.ImageUrl, c.Quantity,
           (p.Price * c.Quantity) AS TotalPrice
    FROM Cart c
    INNER JOIN Products p ON c.ProductId = p.Id
    WHERE c.StudentId = @StudentId
END
GO

-- SP: REMOVE FROM CART
CREATE PROCEDURE [dbo].[sp_RemoveFromCart]
    @CartItemId INT
AS
BEGIN
    DELETE FROM Cart WHERE CartItemId = @CartItemId
    SELECT 1 AS Success, 'Item removed from cart.' AS Message
END
GO

-- SP: CLEAR CART
CREATE PROCEDURE [dbo].[sp_ClearCart]
    @StudentId NVARCHAR(50)
AS
BEGIN
    DELETE FROM Cart WHERE StudentId = @StudentId
    SELECT 1 AS Success, 'Cart cleared.' AS Message
END
GO

-- SP: CHECKOUT (Create order from cart)
CREATE PROCEDURE [dbo].[sp_Checkout]
    @StudentId NVARCHAR(50),
    @PaymentMethod NVARCHAR(50),
    @Notes NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    -- Check cart is not empty
    IF NOT EXISTS (SELECT 1 FROM Cart WHERE StudentId = @StudentId)
    BEGIN
        SELECT 0 AS Success, 'Cart is empty.' AS Message, 0 AS OrderId
        RETURN
    END

    -- Calculate total
    DECLARE @Total DECIMAL(10,2)
    SELECT @Total = SUM(p.Price * c.Quantity)
    FROM Cart c
    INNER JOIN Products p ON c.ProductId = p.Id
    WHERE c.StudentId = @StudentId

    -- Create order
    INSERT INTO Orders (StudentId, TotalAmount, PaymentMethod, Notes, Status, OrderDate)
    VALUES (@StudentId, @Total, @PaymentMethod, @Notes, 'Pending', GETDATE())

    DECLARE @OrderId INT = SCOPE_IDENTITY()

    -- Insert order items from cart
    INSERT INTO OrderItems (OrderId, ProductId, Quantity, Price)
    SELECT @OrderId, c.ProductId, c.Quantity, p.Price
    FROM Cart c
    INNER JOIN Products p ON c.ProductId = p.Id
    WHERE c.StudentId = @StudentId

    -- Deduct stock
    UPDATE p SET p.Stock = p.Stock - c.Quantity
    FROM Products p
    INNER JOIN Cart c ON p.Id = c.ProductId
    WHERE c.StudentId = @StudentId

    -- Clear cart
    DELETE FROM Cart WHERE StudentId = @StudentId

    SELECT 1 AS Success, 'Order placed successfully.' AS Message, @OrderId AS OrderId
END
GO

-- SP: GET ORDERS BY STUDENT
CREATE PROCEDURE [dbo].[sp_GetOrdersByStudent]
    @StudentId NVARCHAR(50)
AS
BEGIN
    SELECT OrderId, StudentId, TotalAmount, PaymentMethod, Status, OrderDate
    FROM Orders
    WHERE StudentId = @StudentId
    ORDER BY OrderDate DESC
END
GO

-- SP: GET ORDER DETAIL
CREATE PROCEDURE [dbo].[sp_GetOrderDetail]
    @OrderId INT
AS
BEGIN
    -- Order header
    SELECT OrderId, StudentId, TotalAmount, PaymentMethod, Notes, Status, OrderDate
    FROM Orders WHERE OrderId = @OrderId

    -- Order items
    SELECT oi.OrderItemId, oi.ProductId, p.Name AS ProductName,
           p.Category, oi.Quantity, oi.Price,
           (oi.Price * oi.Quantity) AS TotalPrice
    FROM OrderItems oi
    INNER JOIN Products p ON oi.ProductId = p.Id
    WHERE oi.OrderId = @OrderId
END
GO

-- SP: CANCEL ORDER
CREATE PROCEDURE [dbo].[sp_CancelOrder]
    @OrderId INT
AS
BEGIN
    UPDATE Orders SET Status = 'Cancelled'
    WHERE OrderId = @OrderId AND Status = 'Pending'

    IF @@ROWCOUNT > 0
        SELECT 1 AS Success, 'Order cancelled.' AS Message
    ELSE
        SELECT 0 AS Success, 'Order cannot be cancelled.' AS Message
END
GO

USE [master]
GO
